name: Release tag and Docker

on:
  push:
    branches:
      - main

jobs:
  release-tag:
    name: create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '15'
      - name: install dependencies
        run: npm ci
      - name: apply semantic release
        run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # docker build
      - name: get tag name
        run: |
          version=$(git describe --tags --abbrev=0)
          echo "image_tag=$version | jq -j '.version'" >> $GITHUB_ENV
      - name: docker login
        run: echo "$CR_PAT" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        env:
          CR_PAT: ${{ secrets.CR_PAT }}
      - name: docker build
        run: make build-docker
        env:
          DOCKER_TAG: ${{ env.image_tag }}
      - name: docker release
        run: make release-docker
        env:
          DOCKER_TAG: ${{ env.image_tag }}
